// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app
$bodyFontSize:1.6rem;
$fontSize16:1.6rem;
$fontSize14:1.4rem;
$fontSize12:1.2rem;
$placeholderBgColor:#0099ff;
$tipsBgColor:#f2f2f2;
$avatarSize:80px;
$weboxSize:60px;
$colorBlack:#000;
$colorWhite:#fff;
$colorGray:#666;
$bgGrayC:#ccc;
@mixin flex($align-items:center, $justify-content:center) {
  display: flex;
  align-items: $align-items;
  justify-content: $justify-content;
}

@mixin flexContentRight {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}


.main {
  .tips {
    font-size: $fontSize16;
    color: $colorBlack;
    text-align: center;
    font-weight: bold;
    margin-bottom: 30px;
  }
}