.setPasswordForm{
    margin-top:30px;
    .input_box{
        margin-bottom: 10px;
        .name{color:$colorGray;font-size:$fontSize14;margin-bottom: 10px;}
        input{width:100%;border:1px solid #ddd;border-radius: 4px;    padding: 10px;}
    }
    button{
        border-radius: 4px;
        margin-top:30px;
    }
}
